* {
    text-transform: uppercase;
}

p.texto1 i {
    color: red;
}

p.texto2:hover {
    background-color: yellow;
}

p.texto3 a:visited {
    color: aqua;
}

p.texto3 a:hover {
    color: yellow;
}

p.texto3 {
    color: gray;
}

p.texto4 a:first-child {
    color: red;
}

p.texto4 a:nth-child(2n) {
    color: green;
}

p.texto4 a:last-child {
    color: blue;
}