* {
    text-transform: uppercase;
}

p.texto1 i {
    color: red;
}

p.texto2:hover {
    background-color: yellow;
}

p.texto3 a:visited {
    color: aqua;
}

p.texto3 a:hover {
    color: yellow;
}

p.texto3 {
    color: gray;
}

p.texto4:nth-child(2) {
    color: green;
}

